<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ type.label }}</h5>
        <p class="card-text">Participants max : {{ type.maxParticipants }}</p>
        <p class="card-text">Evenement de ce type : {{ type.events|length }}</p>
        <p class="card-text">Publiée le {{ type.createdAt|format_datetime('full', 'short') }}</p>
        <div class="d-flex gap-2">
            {% if full == false %}
                <a href="{{ path('app.types.show', { 'id': type.id }) }}" class="btn btn-primary">Détails</a>
            {% endif %}
            <a href="{{ path('app.types.edit', { 'id': type.id }) }}" class="btn btn-warning">Modifier</a>
            {% include('backend/type/_deleteForm.html.twig') %}
        </div>
    </div>
</div>