<div class="container" >
    <div class="row mt-5" >






                <div class="card mb-3" style="max-width: 540px; border:0px">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex flex-column align-content-center justify-content-center ">

                            <div>


                                {% if profile.imageName %}
                                    <img class="img-fluid object-fit-cover" src="{{ vich_uploader_asset(profile) }}" alt="{{ profile.username }}"
                                    >
                                {% else %}
                                    <img class="img-fluid  " src="{{ asset('images/users/default.png') }}" alt="{{ profile.username }}"
                                    >
                                {% endif %}
                                {% include('frontend/profile/_actions.html.twig') %}


                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" >{{ profile.username }}</h5>
                                {% if profile.banned %}
                                    <span class="badge bg-danger">Banni</span>
                                {% endif %}
                                {% if profile.verified %}
                                    <span class="badge bg-success">Vérifié</span>
                                {% endif %}
                                <p>Rôles : {{ profile.roles | join(', ') }}</p>
                                {% if app.user == profile or is_granted('ROLE_ADMIN') %}
                                    <p>Email : {{ profile.email }}</p>
                                {% endif %}
                                <p  >Nom : {{ profile.lastName }}</p>
                                <p  >Prénom : {{ profile.firstName }}</p>
                                <p  >Bio : {{ profile.biography | nl2br }}</p>
                                <p  >A organisé {{ profile.nbOrganizedEvents }} événements</p>
                                <p  >A participe a {{ profile.nbParticipatedEvents }} événements</p>
                                <p  >Inscrit le {{ profile.createdAt|format_datetime('full', 'short') }}</p>

                            </div>
                        </div>
                    </div>
                </div>







    </div>
</div>