<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ profile.username }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">id : {{ profile.id }}
        <p class="card-text">Publiée le {{ profile.createdAt|format_datetime('full', 'short') }}</p>
        <p class="card-text">Modifiée le {{ profile.updatedAt|format_datetime('full', 'short') }}</p>
        <div class="d-flex gap-2">
            {% if full == false %}
                <a href="{{ path('app.profiles.show', { 'id': profile.id }) }}" class="btn btn-primary">Détails</a>
            {% endif %}
            {% if app.user and profile == app.user or is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app.profiles.edit', { 'id': profile.id }) }}" class="btn btn-warning">Modifier</a>
                <a href="{{ path('app.profiles.edit.password', { 'id': profile.id }) }}" class="btn btn-warning">Modifier mot de passe</a>
                {% include('frontend/profile/_deleteForm.html.twig') %}
            {% endif %}
        </div>
    </div>
</div>