<div class="card">
    <div class="card-header">
        {% if profile.imageName %}
            <img src="{{ vich_uploader_asset(profile) }}" alt="{{ profile.username }}"
                 class="card-img-top">
        {% else %}
            <img src="{{ asset('images/users/default.png') }}" alt="{{ profile.username }}"
                 class="card-img-top">
        {% endif %}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ profile.username }}</h5>
        {% if profile.banned %}
            <span class="badge bg-danger">Banni</span>
        {% endif %}
        {% if profile.verified %}
            <span class="badge bg-success">Vérifié</span>
        {% endif %}
        <p class="card-text">Rôles : {{ profile.roles | join(', ') }}</p>
        {% if app.user == profile or is_granted('ROLE_ADMIN') %}
            <p class="card-text">Email : {{ profile.email }}</p>
        {% endif %}
        <p class="card-text">Nom : {{ profile.lastName }}</p>
        <p class="card-text">Prénom : {{ profile.firstName }}</p>
        <p class="card-text">Bio : {{ profile.biography | nl2br }}</p>
        <p class="card-text">A organisé {{ profile.nbOrganizedEvents }} événements</p>
        <p class="card-text">A participe a {{ profile.nbParticipatedEvents }} événements</p>
        <p class="card-text">Inscrit le {{ profile.createdAt|format_datetime('full', 'short') }}</p>

        {% include('frontend/profile/_actions.html.twig') with { 'column':false} %}

    </div>
</div>